<%= form_with(model: @task, local: true, url: choose_new_or_edit) do |form| %>
  <div class="form_group pt-4 pb-3">
    <%= render 'layouts/error_messages', model: form.object %>

    <div class="conteiner">
      <div class="field">
        <%= form.label :タスク名 %>
        <%= form.text_field :title, class: "form-control" %>
      </div>
      <div class="field">
        <%= form.label :内容 %>
        <%= form.text_area :content, class: "form-control" %>
      </div>
      <div class="field">
        <%= form.label :終了期限 %>
        <%= form.date_field :expired_at, class: "form-control" %>
      </div>
      <div class="field_status">
        <%= form.label :ステータス %>
        <%= form.select :status, Task.statuses.keys.to_a, {} ,class: "form-control" %>
      </div>
      <div class="field_priority">
        <%= form.label :優先順位 %>
        <%= form.select :priority, Task.priorities.keys.to_a, {} , class: "form-control"%>
      </div>
      <div class="field_label">
        <% Label.all.each do |label| %>
          <%= form.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
          <%= label.name %>
        <% end %>
      </div>
      <div class="actions">
        <%= form.submit '送信', class:"btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
