<h2>タスクの投稿</h2>

<%= form_with(model: @task, local: true) do |f|%>
<%= render 'layouts/error_messages', model: f.object %>

<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div class="form-group">
  <%= f.label :content %>
  <%= f.text_area :content %>
</div>

<%= f.submit "投稿する" %>

<% end %>
